.modal-container{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 8px;
  width: 590px;
  height: 362px;
  justify-content: space-evenly;
  align-items: center;
  background: #F8F8F8;
  position: absolute;
  margin: 0 auto;
  left: 28%;
  top: 50%;


  &.hidden{
    display: hidden;
  }

  .modal-button-container{
    display: flex;
    gap: 18px;

    :first-child{
      background: #DBDCDD;
      color: #737380;
    }
    :not(:first-child){
      background: #E73F5D;
      color: #FEFEFE;
    }
  }


}
